<div id="<%= dom_id borrow %>">
  <p>
    <strong>Book:</strong>
    <%= borrow.book_id %>
  </p>

  <p>
    <strong>Member:</strong>
    <%= borrow.member_id %>
  </p>

  <p>
    <strong>Borrowed on:</strong>
    <%= borrow.borrowed_on %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= borrow.due_date %>
  </p>

</div>
