<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<ul>
    <li><%= link_to 'Add Book', new_book_path %></li>
    <li><%= link_to 'Add Member', new_member_path %></li>
    <li><%= link_to 'Borrow Book', new_borrow_path %></li>
    <li><%= link_to 'View Books', books_path %></li>
    <li><%= link_to 'View Members', members_path %></li>
    <li><%= link_to 'View Borrowed Books', borrows_path %></li>
</ul>